
    <div class="container mt-4">
        <ul id="list" class="list-group list-group-flush">
          
        </ul>
    </div>
 <li id="list-item" class="list-group-item d-none">
        <div class="d-flex justify-content-start align-items-center ">
             <p><i id="crown" class="fa-solid fa-crown fa-xl d-none"></i></p>       
            <img id="avatar" src="/images /male_avatar.jpg" alt="Author 1" class="rounded-circle me-3" style="width: 70px; height: 70px;">
            <div>
                <h5  class="mb-0"><span id="name"></span> <small  class="text-muted fst-italic ms-2"><span id="created"></span></small></h5>        
                <small  class="text-muted fw-bold"><span id="birthDate"></span></small>
            </div>
            <div class="ms-auto">
                <span id="posts" class="badge bg-info text-light me-1">Posts: 20</span>
                <span id="likes" class="badge bg-success text-light">Likes: 150</span>
            </div>
        </div>
    </li>