
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Cоздать новый пост</h1>
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="title" class="form-label">Название</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="col-md-4">
                            <label for="readingTime" class="form-label">Время чтения:</label>
                            <input type="text" class="form-control" id="readingTime">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="groups" class="form-label">Группа:</label>
                            <select class="form-select" id="groups">
                                <option value="" >Без группы</option>
                            </select>     
                        </div>
                        <div class="col-md-6">
                            <label for="tags" class="form-label">Tэги:</label>
                            <select id="tags" class="form-select" multiple="multiple">
                            </select>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="image" class="form-label">Cсылка на фото:</label>
                            <input type="text" class="form-control" id="image">  
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="description" class="form-label">Описание</label>
                            <textarea class="form-control" id="description" rows="7"></textarea>  
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h3>Адрес</h3>
                            <div id="addressTemplate" class="col-md-12 d-none">
                                <label id="objectLevelText" for="addressId" class="form-label">Следующий элемент адреса:</label>
                                <select class="form-select" id="addressId">
                                    <option value="">Не выбран</option>
                                </select>
                                <div id="childElement"></div>
                            </div>
                            
                            <div id="adressForm" class="row mt-3">
                                
                                
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <button id="submitBtn" class="btn btn-primary">Создать пост</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

