<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container code-container">

    <div id="addPostBtn" class="row mt-3">
        <button type="button" class="btn btn-primary" id="addPostButton">Добавить пост <i class="fa-solid fa-plus"></i></button>
    </div>

    <div id="filters" class="row mt-3">
        <div class="card">
            <div class="card-header">
                Фильтры
            </div>
            <div class="card-body">
                
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Поиск по имени:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="tagDropdown" class="form-label">Tэги:</label>
                            <select id="tagDropdown" class="form-select" multiple="multiple">
                                <option value="tag1">Tag 1</option>
                                <option value="tag2">Tag 2</option>
                                <option value="tag3">Tag 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5">
                            <label for="sortingDropdown" class="form-label">Сортировка:</label>
                            <select id="sortingDropdown" class="form-select">
                                <option value="">Без сортировки</option>
                                <option value="date">По дате создания (сначала новые)</option>
                                <option value="name">По дате создания (сначала старые) </option>
                                <option value="tag">По количеству лайков (по возрастанию)</option>
                                <option value="tag">По количеству лайков (по убыванию)</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="readingTimeFrom" class="form-label">Время чтения:</label>
                            <div class="row">
                                <span class="col-md-2">от</span>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="readingTimeFrom" placeholder="мин">
                                </div>
                                <span class="col-md-2">до</span>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="readingTimeTo" placeholder="мин">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="checkbox" class="form-label"></label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label" for="checkbox">Только мои группы</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3 justify-content-center text-center"></div>
                    <div class="col-md-12 justify-content-center text-center"> 
                        <button type="submit" class="btn btn-primary">Применить</button>
                    </div> 
            </div>
                
        </div>
    </div>

        <div id="post" class="row mt-3">
            <div class="card">
                <div class="card-body">
                    <small class="text-muted fst-italic ms-2"><span id="authorsName"> Автор - <span id="createTime">время создания</span></span></small>
                    <div class="row mt-3">
                        <h3 class="card-title border-bottom pb-3">Заголовок</h3>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <img src="" alt="Photo" class="img-fluid">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p class="card-text" id="postDescription">Описание поста, которое может быть довольно длинным. Описание поста, которое может быть довольно длинным. Описание поста, которое может быть довольно длинным.</p>
                        <a href="#" id="readMoreLink" class="d-none">Читать полностью</a>
                    </div>
                    <div class="row mt-3">
                        <small id="tags" class="text-muted ms-2"><span id="tag"> #Tag</span></small>
                    </div>
                    <div class="row mt-3">
                    <span id="readingTime">Время чтения: 1 мин</span>
                    </div>
                </div>
            </div>
        </div>
                
 </div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script ref="module" src="/scripts /posts.js"></script>
</body>
</html>